:root {
  --type-system-ratio: 1.33333;
}

.Post {
  margin-top: 2rem;
}

.Post-aside {
  margin: var(--actual-font-size) 0;
}

.Post-prose {
  max-width: calc(var(--actual-font-size) * 30);
  margin: 0 auto;
}

/* Quick non leaky typography (: */

.Post-prose h1 {
  font-size: var(--type-level-xxl);
  margin: 1rem 0;
}
.Post-prose h2 {
  font-size: var(--type-level-xl);
  margin: 1rem 0;
}
.Post-prose h3 {
  font-size: var(--type-level-l);
  font-weight: 700;
  margin: 1rem 0;
}
.Post-prose h4 {
  font-size: var(--type-level-m);
  font-weight: 700;
  color: #666;
  margin: 0;
}
.Post-prose h4 + p {
  margin-top: 0;
}
.Post-prose small {
  font-size: var(--type-level-s);
}
