:root {
  --base-font-scaling: 0.6vw;
  --base-font-size: 0.88rem;
  --actual-font-size: calc(var(--base-font-size) + var(--base-font-scaling));
  --theme-base-color: #222;
  --theme-interactive: rgb(19, 50, 190);

  --type-system-ratio: 1.33333;
  --type-level-xxl: calc(
    (
      var(--actual-font-size) * var(--type-system-ratio) *
        var(--type-system-ratio) * var(--type-system-ratio) *
        var(--type-system-ratio)
    )
  );
  --type-level-xl: calc(
    (
      var(--actual-font-size) * var(--type-system-ratio) *
        var(--type-system-ratio)
    )
  );
  --type-level-l: calc((var(--actual-font-size) * var(--type-system-ratio)));
  --type-level-m: var(--actual-font-size);
  --type-level-s: calc((var(--actual-font-size) / var(--type-system-ratio)));
  --type-level-xs: calc(
    (
      var(--actual-font-size) / var(--type-system-ratio) /
        var(--type-system-ratio)
    )
  );
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--actual-font-size);
  line-height: 1.52;
  font-family: Roboto, sans-serif;
  color: var(--theme-base-color);
}

a {
  color: var(--theme-interactive);
}

/**
 * Provide emphasized focus styles for keyboard navigation
 */
:focus-visible {
  outline: solid var(--focus-ring-width, 2px) !important;
  outline-color: var(--focus-ring-color, red) !important;
}

/**
 * Disable default focus styles for pointer events, when :focus-visible is
 * supported by the browser
 */
:focus:not(:focus-visible) {
  outline: 0 !important;
}
